<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>3WA/equipes</title>
</head>
<body>
    <h1>Equipes</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus accusantium ad aspernatur cum eius ipsa iure labore laudantium modi molestias mollitia nostrum numquam pariatur, qui, quidem vitae. Numquam, voluptas?</p>
    {# Permet de faire des liens relatifs #}
    <a href="{{ url('troiswa_back_cgv') }}">lien cgv</a>
</body>
</html>