{% extends "troiswaBackBundle::layout-admin.html.twig" %}

{% block h1 %}
    Info Category
{% endblock h1 %}


{% block title %}
    Info Category
{% endblock title %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="active">
        <i class="fa fa-info-circle"></i> Info Category
    </li>
{% endblock breadcrumb %}


{%block content %}
    <h2>{{ oneCategory.title }}</h2>
    <p>{{ oneCategory.description }}</p>
    <p>{{ oneCategory.position }}</p>


{%endblock content %}

