<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Contact-email</title>
</head>
<body>
m./mme {{ data.firstname }} {{ data.lastname }} vous a écrit le {{ data.data |date }}
ceci:"
{{ data.description }} "
</body>
</html>